<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <autocustomergroup>
            <norwayvoec>
                <enabled>0</enabled>
                <frontendprompt>Norwegian VAT Registered Businesses, please enter your VAT Number so we can apply the correct rate of VAT to your order.</frontendprompt>
                <registrationnumber></registrationnumber>
                <importthreshold>3000</importthreshold>
                <usemagentoexchangerate>1</usemagentoexchangerate>
                <exchangerate>1</exchangerate>
                <domestic>0</domestic>
                <importb2b>0</importb2b>
                <importtaxed>0</importtaxed>
                <importuntaxed>0</importuntaxed>
            </norwayvoec>
        </autocustomergroup>
    </default>
</config>
